name: build

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

jobs:
  check:
    uses: int128/go-workflows/.github/workflows/check.yaml@v0.4.0
    with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
        golangci-lint-version: v1.19.1

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - run: go test -v -race ./pkg/...
